# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb_checkpoints
*.local
.virtual_documents

# Datos
data/raw/             # Mantener si quieres ignorar datos brutos
# data/processed/     # <--- ¡COMENTADO! Esto permite que Git rastree data/processed/ y su contenido
# *.csv               # Mantener si quieres ignorar archivos CSV fuera de control de versiones
# *.xlsx
# *.json
# *.parquet
# *.pkl               # <--- ¡COMENTADO! Permite rastrear archivos .pkl si los usaras
# *.joblib            # <--- ¡COMENTADO! Permite rastrear archivos .joblib

# Archivos de logs
*.log
logs/

# directorios de editor/IDE
.idea/
*.iml
.DS_Store # macOS
Thumbs.db # Windows

# Archivos de ambiente
.env
.flaskenv

# Archivos temporales o generados
*.tmp
*.bak